<?xml version="1.0"?>
<phpunit
	bootstrap="test/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="testing">
			<directory prefix="test-" suffix=".php">./test/phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
